:root {
    --red: #FF674D;
    --yellow: #FFEC51;
}

body {
    margin: 0;
    padding: 0;
}

.mainBox {
    width: 100vw;
    height: 100vh;
    background-color: #e2e2e2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.left-bar {
    height: 100vh;
    /*width: 20vw; */
    background-color: var(--red);
    /* display: flex;
    flex-flow: column nowrap; */
    padding: 25px;
}

.left-bar h3 {
    color: white;
}

.content-box {
    height: 100vh;
    /* width: 80vw; */
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 100px;
    background-color: #e2e2e2;
    /* display: flex;
    flex-flow: column nowrap; */
    /* align-items: center; */
}

.post-box {
    overflow-y: auto;
}

.post {
    /* height: 100%; */
    width: 100%;
    background-color: #fff;
    padding: 15px;
    /* border-radius: 20px; */
    margin: 10px;
    -webkit-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.25);
    box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.25);
}

.comment {
    width: 100%;
}

.name {
    font-weight: bold;
}

.post_text {
    font-size: 1.2em;
}

.own_posts {
    height: 200px;
    width: 100%;
    background-color: #e2e2e2;
    overflow-y: scroll;
    padding: 8px;
}